@namespace oxy "http://www.oxygenxml.com/extensions/author";

@font-face {
    font-family: "Open Sans";
    src: url(../resources/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../resources/Montserrat/static/Montserrat-Bold.ttf);
}

 :root {
   font-family: "Open Sans", Montserrat, Helvetica, serif;

 }
 

@media oxygen AND (min-width:25cm) AND (platform:standalone),
    oxygen AND (min-width:25cm) AND (platform:eclipse) {
    /* A background color */
    oxy|document{
        background-color:#FFFFFF;
        border:0;
    }
    /* And a background image */
    :root {
        padding-top: 100px !important;
        padding-bottom: 2em;
        background-image:url("../resources/images/background_tile.png"); 
        background-repeat:no-repeat;
        background-size: cover;
        border:0 !important;
        padding-left: 80px !important;
        background-color:#FFFFFF;
    }
}


/**
 * Use CSS to hide B, I, U floating toolbar 
 */
*[class ~= "topic/note"]:-oxy-selection-inside,
*[class ~= "topic/dthd"]:-oxy-selection-inside,
*[class ~= "topic/ddhd"]:-oxy-selection-inside,
*[class ~= "topic/dt"]:-oxy-selection-inside,
*[class ~= "topic/dd"]:-oxy-selection-inside,  
*[class ~= "topic/p"]:-oxy-selection-inside,
*[class ~= "topic/li"]:-oxy-selection-inside,
*[class ~= "topic/shortdesc"]:-oxy-selection-inside,
*[class ~= "topic/entry"]:-oxy-selection-inside,
*[class ~= "topic/stentry"]:-oxy-selection-inside,
*[class ~= "topic/ph"]:-oxy-selection-inside {
    -oxy-floating-toolbar:
        oxy_buttonGroup(
         icon, "../../img/link.png",
         label, '${i18n(Link)}',
         actionIDs, 'insert.cross.reference, insert.file.reference, insert.url.reference'
        )
}

*[class~="topic/xref"] {
    color: #007bff !important;
}

/** 
 * CSS used to hide prolog.
 */
*[class ~= "topic/prolog"] {
    -oxy-folded: true;
}


*[class ~= 'topic/title'] {
    font-family: Montserrat, sans-serif;
    color: #002F70;
}



/** 
/* Use attribute selector to target <ph> elements with keyref attributes applied  
 */
  
*[keyref] {
    background-color: #eaedf1;
}
